<div class="popup-container">
  <div class="input-container">
    <h2 mat-dialog-title>Lägg till / Ta bort saldo</h2>
    <label for="modify-quantity" mat-dialog-content></label>
    <input
      type="number"
      name="modify-quantity"
      id="modify-quantity"
      class="quantity-input"
      [(ngModel)]="quantity"
    />
  </div>
  <button
    mat-raised-button
    color="primary"
    class="confirm-btn"
    (click)="handleAddQuantity()"
  >
    Lägg till
  </button>
  <button
    mat-raised-button
    color="warn"
    class="confirm-btn"
    (click)="handleRemoveQuantity()"
  >
    Ta bort
  </button>
</div>
