<div class="warehouse-container">
  <mat-table [dataSource]="products">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
      <mat-cell *matCellDef="let product"> {{ product.id }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Namn</mat-header-cell>
      <mat-cell *matCellDef="let product">{{ product.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="stock">
      <mat-header-cell *matHeaderCellDef>Lagersaldo</mat-header-cell>
      <mat-cell *matCellDef="let product">{{ product.stock }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="adjust">
      <mat-header-cell *matHeaderCellDef>Justera</mat-header-cell>
      <mat-cell *matCellDef="let product">
        <div class="button-container">
          <button
            mat-raised-button
            color="primary"
            (click)="openQuantityPopup(product.id)"
          >
            Ändra saldo
          </button>
          <button
            mat-raised-button
            color="warn"
            (click)="openRemoveProductPopup(product.id)"
          >
            Ta bort produkt
          </button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columsToDisplay"></mat-row>
  </mat-table>
</div>
