<div class="warehouse-container">
  <mat-table [dataSource]="products">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
      <mat-cell *matCellDef="let product"> {{ product.id }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Namn</mat-header-cell>
      <mat-cell *matCellDef="let product">{{ product.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="stock">
      <mat-header-cell *matHeaderCellDef>Lagersaldo</mat-header-cell>
      <mat-cell *matCellDef="let product">{{ product.stock }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="adjust">
      <mat-header-cell *matHeaderCellDef>Justera</mat-header-cell>
      <mat-cell *matCellDef="let product">
        <div class="button-container">
          <button mat-raised-button color="primary" (click)="ToggleQuantityPopUp(product.id)">Ändra saldo</button>
          <button mat-raised-button color="warn" (click)="HandleRemoveProduct(product.id)">Ta bort produkt</button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columsToDisplay"></mat-row>
  </mat-table>

  <div>
    <h1>Lägg till produkt</h1>
    <label for="product-name"></label>
    <input
      type="text"
      name="product-name"
      id="product-name"
      placeholder="Produktens namn ..."
      [(ngModel)]="productName"
    />
    <label for="product-quantity"></label>
    <input
      type="text"
      name="product-quantity"
      id="product-quantity"
      placeholder="Antal i lager ..."
      [(ngModel)]="productStock"
    />
    <button (click)="HandleAddProduct()">Lägg till produkt</button>
  </div>
</div>
